---
layout: layouts/category.njk
title: Migratiefactchecks | FactCheck Vlaanderen
description: Fact-checking van uitspraken over migratie en integratie in België
categoryTitle: Migratiefactchecks 
categoryName: migratie
categoryDescription: Onafhankelijke verificatie van uitspraken over migratie, asiel, inburgering en integratie in België.
---