---
layout: layouts/category.njk
title: Gezondheidsfactchecks | FactCheck Vlaanderen
description: Fact-checking van uitspraken over gezondheid en gezondheidszorg in België
categoryTitle: Gezondheidsfactchecks
categoryName: gezondheid
categoryDescription: Onafhankelijke verificatie van uitspraken over gezondheid, gezondheidszorg, en medische kwesties in België.
---